Fabric/Bronze/Pipelines/PL_Bronze_CRM.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "Configurations",
                "fileName": "crm config.csv"
              },
              "columnDelimiter": ",",
              "quoteChar": "\"",
              "escapeChar": "\\",
              "firstRowAsHeader": true
            },
            "schema": [],
            "linkedService": {
              "name": "LH_DRZ_BRONZE",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "a6e675f3-4f02-bf59-467c-63c27ef943d7",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Look up config",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Look up config').output",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "IfCondition",
              "typeProperties": {
                "expression": {
                  "value": "@equals(item().load_type, 'incremental')",
                  "type": "Expression"
                },
                "ifTrueActivities": [],
                "ifFalseActivities": [
                  {
                    "type": "Copy",
                    "typeProperties": {
                      "source": {
                        "type": "SqlServerSource",
                        "sqlReaderQuery": {
                          "value": "SELECT * FROM [@{item().schema_name}].@{item().source_table_name}",
                          "type": "Expression"
                        },
                        "partitionOption": "None",
                        "queryTimeout": "02:00:00",
                        "datasetSettings": {
                          "type": "SqlServerTable",
                          "typeProperties": {
                            "database": "DriveZa"
                          },
                          "schema": [],
                          "externalReferences": {
                            "connection": "ceeba09b-c44b-4f13-94f7-7550b2337866"
                          },
                          "annotations": []
                        }
                      },
                      "sink": {
                        "type": "LakehouseTableSink",
                        "tableActionOption": "Append",
                        "applyVOrder": false,
                        "partitionOption": "None",
                        "datasetSettings": {
                          "type": "LakehouseTable",
                          "typeProperties": {
                            "schema": {
                              "value": "@{item().schema_name}",
                              "type": "Expression"
                            },
                            "table": {
                              "value": "@{item().destination_table}",
                              "type": "Expression"
                            }
                          },
                          "schema": [],
                          "linkedService": {
                            "name": "LH_DRZ_BRONZE",
                            "properties": {
                              "type": "Lakehouse",
                              "typeProperties": {
                                "artifactId": "a6e675f3-4f02-bf59-467c-63c27ef943d7",
                                "workspaceId": "00000000-0000-0000-0000-000000000000",
                                "rootFolder": "Tables"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                          "allowDataTruncation": true,
                          "treatBooleanAsNumber": false
                        }
                      },
                      "enableStaging": false
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 3,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Full_CopyData",
                    "dependsOn": []
                  }
                ]
              },
              "name": "Load Type Condition",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach crm table",
        "dependsOn": [
          {
            "activity": "Look up config",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}